# Data Science Tools and EcoSystem

In this Notebook, Data science tools and ecosystem are summarized

__Objectives__

- List of popular languages for data scientists
- Commonly used libraries 
- Commonly used datascience tools

Some of the popular languages that data scientists use are:

- Python
- R
- SQL

Some of the commonly used libraries used by a data scientists include:
- Numpi
- Scipi
- Panda

| DataScience Tools |
|-------------------|
| SAS |
| Apache Spark |
| Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [22]:
## SH